---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Sobre esta web" description="Información acerca de esta web">
  <div class="px-2 pb-10 text-center">
    <p class="font-bold text-xl">Sobre el proyecto</p>
    <p>
      Esto es una web app hecha con fines educativos donde muestro los libros
      que he leído por el momento.
    </p>
    <br />
    <br />
    <p>Esta web, debido a su sencillez, no tiene backend.</p>
    <br />
    <p>El frontend está hecho con Astro y TailwindCSS.</p>
    <br />
    <br />
    <p>
      Puedes encontrar el código fuente de esta web app presionando el botón con
      el logo de Github al final de esta página.
    </p>
    <br />
    <br />
    <p class="font-bold text-xl">Sobre el autor</p>
    <br />
    <p>Me llamo Sergio Guerrero.</p>
    <p>
      Estudio Ingeniería de Software en la Universitat Politècnica de Catalunya
      (UPC).
    </p>
    <p>
      Me encanta programar, en especial me gusta todo lo que tiene que ver con
      páginas webs y aplicaciones.
    </p>
    <br />
    <p>
      Este es uno de los proyectos que he hecho para aprender más sobre Astro y
      TailwindCSS.
    </p>
    <p>
      Espero poder hacer más en el futuro y no dejar nunca de estar a la
      vanguardia de las nuevas tecnologías.
    </p>
    <br />
    <p>
      Debajo de estas líneas tienes unos botones que te llevarán a las páginas
      principales de los lenguajes de programación utilizados
    </p>
    <p>
      en este proyecto y al repositorio de GitHub donde se encuentra el código
      fuente de esta web app.
    </p>
    <div class="flex flex-row gap-4 p-5 items-center justify-center">
      <a
        class="rounded-full p-[10px] hover:scale-105 transition"
        style="background-color: #ffffff;"
        href="https://astro.build/"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://astro.build/assets/press/astro-icon-dark.svg"
          class="h-10 w-10"
        />
      </a>
      <a
        class="rounded-full p-[10px] hover:scale-105 transition"
        href="https://tailwindcss.com/"
        style="background-color: #06b5d3;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://www.loopple.com/img/tailwind-logo.png"
          class="h-10 w-10"
        />
      </a>
      <a
        class="rounded-full p-[10px] hover:scale-105 transition"
        href="https://github.com/sergioguri00/personal-library"
        style="background-color: #ffffff;"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img
          src="https://www.logo.wine/a/logo/GitHub/GitHub-Logo.wine.svg"
          class="h-10 w-10"
        />
      </a>
    </div>
    <p>¡Gracias por tu visita!</p>
  </div>
</Layout>
